.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
    position: relative; 
    bottom: 0;
    border-top: 1px solid #ccc;
}

.center-menu {
    display: flex;
    gap: 24px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-link {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.nav-link:hover {
    color: #66D9ED;
}

.icon {
    font-size: 20px;
}
