.navbar-container {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 24px;
    top: 0;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
}

.nav-link {
    color: inherit;
    text-decoration: none;
    padding: 6px 8px;
    font-size: 24px;
    font-family: 'Roboto Mono', monospace;
}

.nav-logo {
    color: inherit;
    text-decoration: none;
    font-size: 48px;
    font-family: 'Roboto Mono', monospace;
    justify-content: flex-start;
}

.nav-logo:hover {
    color: #66D9ED
}

.center-menu {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
}